html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.isDisabled {
  text-decoration: line-through;
}

button {
  width: 3em;
  height: 3em;
  font-size: 2em;
  border: none;
  border-radius: 2em;
  margin: 0.15em;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  /* background-color: black; */
  border-radius: 1em;
  padding: 1em;
}

.orange {
  background-color: #FF9500;
  color: white;
}

.grey {
  background-color: #505050;
  color: white;
}

.resultado {
  color: black;
  display: flex;
  justify-content: flex-end; /* Ou 'right' = o resultado seria o mesmo */
  /* margin-right: 1em; */
  /* font-size: 3.5em; */
}